*~
*.a
*.a.cmd
*.bak
*.o
.OBJ.*
*.o.cmd
*.rej
*.cmd
*.swp
cscope*
cscope.out
.pc*
.pc/*
*.out
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
sshd
survey.sh
buildpkg.sh
openssh.xml
opensshd.init
config.log
config.status
Makefile
config.h
